################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/SVM_PREDICTOR/.vs/SVM_PREDICTOR/v16
/SVM_PREDICTOR/SVMFORM/bin
/SVM_PREDICTOR/SVMFORM/obj
/bin
/obj