################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/SVM_PREDICTOR/.vs/SVM_PREDICTOR/v16
